https://note.nkmk.me/python-pandas-merge-join/

In [10]:
import pandas as pd

df_ab = pd.DataFrame({'a': ['a_1', 'a_2', 'a_3', 'a_7'],
                      'b': ['b_1', 'b_2', 'b_3', 'b_4'],
                      'd': ['d_1', 'd_3', 'd_5', 'd_7']})
df_ac = pd.DataFrame({'a': ['a_1', 'a_2', 'a_4', 'a_5'],
                      'c': ['c_1', 'c_2', 'c_4', 'b_4'],
                      'd': ['d_1', 'd_4', 'd_5', 'd_9']})

print(df_ab)
print(df_ac)

     a    b    d
0  a_1  b_1  d_1
1  a_2  b_2  d_3
2  a_3  b_3  d_5
3  a_7  b_4  d_7
     a    c    d
0  a_1  c_1  d_1
1  a_2  c_2  d_4
2  a_4  c_4  d_5
3  a_5  b_4  d_9

In [18]:
# 重複的只有index = 0, 1 和 column a
# 但是(3, b)呢
# 因為用 method方法等同於merge(df_ab, df_ac, how='left')
df_ab.merge(df_ac)

     a    b    d    c
0  a_1  b_1  d_1  c_1

In [12]:
# on = 'a' 把a當成焦點
pd.merge(df_ab, df_ac, on='a')

     a    b  d_x    c  d_y
0  a_1  b_1  d_1  c_1  d_1
1  a_2  b_2  d_3  c_2  d_4

In [13]:
df_ab.merge(df_ac, on='a')

     a    b  d_x    c  d_y
0  a_1  b_1  d_1  c_1  d_1
1  a_2  b_2  d_3  c_2  d_4

In [14]:
pd.merge(df_ab, df_ac, on='d')

   a_x    b    d  a_y    c
0  a_1  b_1  d_1  a_1  c_1
1  a_3  b_3  d_5  a_4  c_4

In [15]:
pd.merge(df_ab, df_ac, on='d', how='outer')

   a_x    b    d  a_y    c
0  a_1  b_1  d_1  a_1  c_1
1  a_2  b_2  d_3  NaN  NaN
2  a_3  b_3  d_5  a_4  c_4
3  a_7  b_4  d_7  NaN  NaN
4  NaN  NaN  d_4  a_2  c_2
5  NaN  NaN  d_9  a_5  b_4

In [16]:
# 左邊有的必留，右邊必跟，沒有東西就補nan
pd.merge(df_ab, df_ac, on='d', how='left')

   a_x    b    d  a_y    c
0  a_1  b_1  d_1  a_1  c_1
1  a_2  b_2  d_3  NaN  NaN
2  a_3  b_3  d_5  a_4  c_4
3  a_7  b_4  d_7  NaN  NaN

In [17]:
# 右邊有的必留，左邊必跟，沒有東西就補nan
pd.merge(df_ab, df_ac, on='d', how='right')

   a_x    b    d  a_y    c
0  a_1  b_1  d_1  a_1  c_1
1  a_3  b_3  d_5  a_4  c_4
2  NaN  NaN  d_4  a_2  c_2
3  NaN  NaN  d_9  a_5  b_4